/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #FAF7F2; /* Bej */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: #FDC913; /* Sarı */
  color: #292929; /* Koyu Gri */
  border-radius: 6px;
  padding: 10px 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

button:disabled {
  background-color: #5F5F5F; /* Açık Gri */
  color: #fff;
  cursor: not-allowed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow', sans-serif;
}

